.new-todo{
    background-color: aquamarine;
    width: 50rem;
    max-width: 95%;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 2px 8px black;
}
.btn{
    background-color: brown;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid rgb(194, 188, 188);
    border-radius: 6px;
    margin-right: 1rem;
    box-shadow: 0 2px 8px black;
}

.btn:hover{
    background-color: rgb(202, 49, 49);
    border-color: red;
}